

.login--section {
  display: flex;
  background: url("../../Images/mercedes_bg_3.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.login--form--container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.login--form {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
  height: 500px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px) brightness(1);
  box-shadow: 0px 5px 20px black;
}

.login--form figure {
  display: flex;
  width: 100%;
}

.login--form figure img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  animation-name: logo;
  animation-duration: 5s;
}

.login--form h1 {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  color: white;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.2px;
  border-bottom: 1px solid white;
}

.login--form form {
  margin-top: 20px;
  width: 100%;
}

.login--form label {
  color: white;
  font-size: 0.9em;
  letter-spacing: 0.2px;
  font-weight: 300;
}

.login--form input {
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  border: 1px solid #fbf9f1;
  border-radius: 5px;
  padding: 3px;
  text-indent: 7px;
  margin-top: 3px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 40px black;
  background-color: transparent;
  color: white;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-family: 'Poppins',sans-serif;
}



.login--form input:focus {
  outline: none;
}

.login--form input::placeholder{
  color: #F0EEED;
  opacity: 0.8;
}

.login--form button {
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 0.9em;
  font-weight: 100;
  box-shadow: 0px 5px 40px #2B2730;
  margin-top: 20px;
  letter-spacing: 0.2px;
  transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s, font-weight ease-in-out 0.3s;
}

.login--form button:hover{
 background-color: white;
 color: black;
 cursor: pointer;
}

@keyframes logo{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.login--form span{
  display: flex;
  gap: 8px;
  color: white;
  font-size: 0.8em;
  justify-content: center;
  margin-top: auto;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.login--form span a{
  font-weight: 400;
  letter-spacing: 0.2px;
  color: white;
  text-decoration: none;
  transition: text-decoration ease-in-out 0.5s;
}

.login--form span a:hover{
  text-decoration: underline;
  cursor: pointer;
}
